<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">OO File Browser Demo</a>
        </div>
        <div id="my-navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="" {{action 'showModal' 'modals/about-modal'}}>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if session.isAuthenticated}}
                    {{#each user in model}}
                        <li>
                            <a href="#" {{action 'invalidateSession'}}>{{user.name}}</a>
                        </li>
                        <li class="hidden-xs">
                            {{#if user.picture}}
                                <img class="user-photo" {{bind-attr src='user.picture'}} alt="">
                            {{else}}
                                <img class="user-photo">
                            {{/if}}          
                        </li>
                    {{/each}}
                {{else}}
                    <li>
                        <a href="" id="login-button" {{action 'showModal' 'modals/login-modal' user}}>Login</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>