<div class="container-fluid">
    <div class="row-fluid">
        {{#if model}}
            <div class="col-md-3 col-xs-12 sidebar">
                <ul class="well nav nav-sidebar">
                    <li>
                        <a href="#" {{action 'showInsertFileDialog'}}><i class="glyphicon glyphicon-plus"></i> Upload File</a>
                    </li>
                    <li>
                        <a href="#" {{action 'loadShareWithMeFolders'}}><i class="glyphicon glyphicon-user"></i> Share with Me</a>
                    </li>
                    <li>
                        <a href="#" {{action 'loadTrashFolders'}}><i class="glyphicon glyphicon-trash"></i> Trash</a>
                    </li>
                    <li>
                        {{folder-tree class="folder-tree" treeOptions=treeOptions treeCustomMethods=treeCustomMethods  showProgressBar="showProgressBar" closeProgressBar="closeProgressBar"}}
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-xs-12">
                {{file-list-table class="file-list-table" files=files showTrashFileDialog="showTrashFileDialog" showEditFileNameDialog="showEditFileNameDialog" showDeleteFileDialog="showDeleteFileDialog" recoveryFile="recoveryFile"}}      
            </div>
        {{else}}
            <div class="loadingIcon-64"></div>
        {{/if}}  
    </div>
</div>